* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  padding: 30px;
}
.entries__output {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.next__btn {
  width: 200px;
  margin: auto;
}

.entry__tbl {
  width: 80%;
  margin: auto;
  border: 5px solid black;
  /* margin-top: 20px; */
}
.entry__tbl caption {
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(143, 229, 246);
  margin-bottom: 10px;
  font-weight: bold;
}

.entry__tbl th {
  font-size: 20px;
  color: rgb(28, 132, 153);
}

.next__btn {
    border-style: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(143, 229, 246);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}
.next__btn:hover {
    background-color: rgb(28, 132, 153);
    color: white;
}
.next__btn:active {
    opacity: .7;
    /* padding: 20px 30px; */
}

.button__pageNo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
    /* background-color: red; */
}
.btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.sort__btn {
    border: 2px solid rgb(28, 132, 153);
    /* font-size: 20px; */
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 20px;
    background-color: white;
    font-weight: 400;
    transition: all 0.2s;
}

.sort__btn:hover {
    background-color: rgb(28, 132, 153);
    cursor: pointer;
}
.sort__btn:active {
    opacity: 0.7;
}